* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

p, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  list-style: none;
}

button {
  box-shadow: none;
  outline: none;
  border: none;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}